//handles resetting of the page;

/* REM Relative to font-size of the root element */

/* Cross browser reset/global reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* set box sizing here to inherit is a good practice */
  box-sizing: inherit;
}

html {
  /* 62.5% in percentage is the same as 10px (10/ 16) */
  // this defines what 1rem is;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
